/**
 * Don't edit this file. Find all style at ./sass folder.
 **/
.content-embed-autocomplete .components-placeholder__fieldset {
  position: relative;
}
.content-embed-autocomplete .components-placeholder__fieldset input {
  width: 350px;
  height: 45px;
  border-radius: 4px;
  border: 2px solid #777777;
  padding: 0 10px;
}
.content-embed-autocomplete .components-placeholder__fieldset ul.suggestions,
.content-embed-autocomplete .components-placeholder__fieldset .no-suggestions {
  position: absolute;
  top: 55px;
  width: 350px;
  border: 1px solid #d7d7d7;
  box-shadow: 2px 2px 10px #d7d7d7;
  border-radius: 4px;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
  background-color: white;
}
.content-embed-autocomplete .components-placeholder__fieldset ul.suggestions li,
.content-embed-autocomplete .components-placeholder__fieldset .no-suggestions li {
  list-style: none;
  margin-bottom: 12px;
  font-size: 1rem;
  cursor: pointer;
}
.content-embed-autocomplete .components-placeholder__fieldset ul.suggestions li:last-child,
.content-embed-autocomplete .components-placeholder__fieldset .no-suggestions li:last-child {
  margin-bottom: 0;
}
.content-embed-autocomplete .components-placeholder__fieldset ul.suggestions li:hover,
.content-embed-autocomplete .components-placeholder__fieldset .no-suggestions li:hover {
  color: #777777;
}

.wp-block[data-align=center] .gutenberg-content-embed {
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=styles.css.map */