.content-embed-autocomplete .components-placeholder__fieldset {
  position: relative;
  input {
    width: 350px;
    height: 45px;
    border-radius: 4px;
    border: 2px solid #777777;
    padding: 0 10px;
  }
  ul.suggestions,
  .no-suggestions {
    position: absolute;
    top: 55px;
    width: 350px;
    border: 1px solid #d7d7d7;
    box-shadow: 2px 2px 10px #d7d7d7;
    border-radius: 4px;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
    background-color: white;

    li {
      list-style: none;
      margin-bottom: 12px;
      font-size: 1rem;
      cursor: pointer;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        color: #777777;
      }
    }
  }
}
.wp-block[data-align=center] {
  .gutenberg-content-embed {
    margin-left: auto;
    margin-right: auto;
  }
}
